<?xml version="1.0"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="world_name" value="$(find two-link-manipulator)/world/scene.world"/>
    </include>

    <group ns="/manipulator">
        <param name="robot_description"
               command="$(find xacro)/xacro '$(find two-link-manipulator)/urdf/two_link_manipulator.xacro'"/>
        <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
              args="-urdf -param robot_description -model two_link_manipulator -x 0 -y 0 -z 0"/>

        <include file="$(find two-link-manipulator)/launch/controllers.launch"/>
    </group>
</launch>
